<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/grid_12.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/slider.css">
<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>
<script src="js/jquery-1.7.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/tms-0.4.1.js"></script>
    <title>My School</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">My School</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">SignUp</a>
            </li>
          </ul>
          <span class="navbar-text">
            Navbar text with an inline element
          </span>
        </div>
      </nav>
<div class="center">
    <section id="content">
    <div class="container_12">
      <div class="grid_4 bot-1">
        <div class="art"></div>
        <h2 class="top-1 p2">Events</h2>
        <p class="text-1 p3">April 18 - “Spring’s Bloom”</p>
        <p>The PSD source files of this Art School Template are available for free for the registered members of TemplateMonster.com. Feel free to <br>
          get them!</p>
        <p class="text-1 top-2 p3">April 01 - “Smile!”</p>
        <p>This website template has several pages: Home Page, About Us, Schedule, Gallery, Contact Us (note that contact us form – <br>
          doesn’t work).</p>
        <a href="#" class="link-1 top-3">News Archive</a> </div>
      <div class="grid_8">
        <div class="pad-1">
          <h2 class="p2">Welcome to Art School</h2>
          <p class="text-1">Art School is one of free website templates by TemplateMonster.com team. This template is optimized for 1280X1024 screen resolution. It is also XHTML & CSS valid.</p>
        </div>
        <div class="block-1">
          <div class="block-1-shadow">
            <h2 class="clr-6 p4">Our Gallery</h2>
            <div class="box-1"> <a href="#" class="img-border"><img src="images/img1.jpg" alt=""></a>
              <p class="text-2">Jennifer, 10 years</p>
            </div>
            <div class="box-1 last"> <a href="#" class="img-border"><img src="images/img2.jpg" alt=""></a>
              <p class="text-2">Martin, 13 years</p>
            </div>
            <div class="clear p5"></div>
            <div class="box-1"> <a href="#" class="img-border"><img src="images/img3.jpg" alt=""></a>
              <p class="text-2">Sebastian, 14 years</p>
            </div>
            <div class="box-1 last"> <a href="#" class="img-border"><img src="images/img4.jpg" alt=""></a>
              <p class="text-2">Fiona, 8 years</p>
            </div>
            <div class="clear"></div>
            <div class="pad-2"> <a href="#" class="link-2">Full Gallery</a> </div>
          </div>
        </div>
        <!--==============================footer=================================-->
        <footer>
          <p>© 2012 Art School</p>
          <p>Website Template by <a target="_blank" href="http://www.templatemonster.com/" class="link">TemplateMonster.com</a></p>
        </footer>
      </div>
      <div class="clear"></div>
    </div>
  </section>
</div>
  
</body>
</html>